html {
    overflow-y: scroll;
}
.btn-social-network ul li {
    overflow: hidden;
    max-height: 20px;
    display: inline-block;
    max-width: 102px;
}
.container .jumbotron {
    padding-left: 0;
    padding-right: 0;
}
ul#root > li {
    padding-bottom: 15px;
}
.alert > p {
    font-size: 15px;
}
