@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "C# Analyzers";
    Page.Keywords = "analyzer,c#,fix";
    Page.Description = "C# Analyzers in Refactoring Essentials. This is the showcase of some of the ones shipping in the box";
}

<div class="jumbotron">

    <div class="container">
        <h1>
            C# Analyzers
        </h1>
    </div>

</div>

<div class="container">

    <div class="alert alert-info">
        <p>This just highlights a few analyzers and fixes - please see the <a href="~/Features/All#collapseCSharpAnalyzers">complete list</a>
        </p>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Array Creation can be replaced with Array Initializer</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/ArrayCreationCanBeReplacedWithArrayInitializerAnalyzer.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Convert Closure to Method Group</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/ConvertClosureToMethodGroupAnalyzer.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Convert Conditional Ternary to Null Coalescing</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/ConvertConditionalTernaryToNullCoalescingAnalyzer.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Convert If to Or Expression</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/ConvertIfToOrExpressionAnalyzer.png" />
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Name of Suggestion</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/NameOfSuggestionAnalyzer.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Not Resolved in Text</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/NotResolvedInTextAnalyzer.png" />
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Simplify Conditional Ternary Expression</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/SimplifyConditionalTernaryExpressionAnalyzer.png"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Use 'string.IsNullOrEmpty(...)</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/ReplaceWithStringIsNullOrEmptyAnalyzer.png"/>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Local variable is never used</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/LocalVariableNotUsedAnalyzer.png"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Merge nested 'if'</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/MergeNestedIfAction.png"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Redundant base constructor call</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/RedundantBaseConstructorCallAnalyzer.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Empty argument list is redundant</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/RedundantObjectCreationArgumentListAnalyzer.png" />
                </div>
            </div>
        </div>
    </div>

</div>
