@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "C# Analyzers";
    Page.Keywords = "analyzer,c#,fix";
    Page.Description = "C# Analyzers in Refactoring Essentials. This is the showcase of some of the ones shipping in the box";
}

<div class="jumbotron">

    <div class="container">
        <h1>
            C# Analyzers
        </h1>
    </div>

</div>

<div class="container">

    <div class="row">
        <div class="col-lg-6">



            <div class="panel panel-default">
                <div class="panel-heading">Array Creation can be replace with Array Initializer</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/ArrayCreationCanBeReplacedWithArrayInitializerAnalyzer.png" class="col-md-12"/>


                </div>
            </div>


        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Convert Closure to Method Group</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/ConvertClosureToMethodGroupAnalyzer.png" class="col-md-12" />
                </div>
            </div>



        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">



            <div class="panel panel-default">
                <div class="panel-heading">Convert Conditional Ternary to Null Coalescing</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/ConvertConditionalTernaryToNullCoalescingAnalyzer.png" class="col-md-12" />


                </div>
            </div>


        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Convert If to Or Expression</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/ConvertIfToOrExpressionAnalyzer.png" class="col-md-12" />
                </div>
            </div>



        </div>

    </div>
    
    
    <div class="row">
        <div class="col-lg-6">



            <div class="panel panel-default">
                <div class="panel-heading">Name of Suggestion</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/NameOfSuggestionAnalyzer.png" />


                </div>
            </div>


        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Not Resolved in Text</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/NotResolvedInTextAnalyzer.png" class="col-md-12" />
                </div>
            </div>



        </div>

    </div>
    
    <div class="row">
        <div class="col-lg-6">



            <div class="panel panel-default">
                <div class="panel-heading">Simplify Conditional Ternary Expression</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpAnalyzers/SimplifyConditionalTernaryExpressionAnalyzer.png" class="col-md-12" />


                </div>
            </div>


        </div>


    </div>
</div>