@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Code Converters";
    Page.Keywords = "code,converter,conversion,c#,vb,vbnet,csharp,translate,transform,c# to vb,vb to c#";
    Page.Description = "Refactoring Essentials supports C# to VB and VB to C# code conversion";
}

<div class="jumbotron">
    <div class="container">
        <h1>
            Code Converters
        </h1>
    </div>
</div>

<div class="container">

    <p>
        Refactoring Essentials supports C# to VB and VB to C# code conversion. The features are
        built-in to the Visual Studio extension as well as on a 
        <a href="https://roslyncodeconverter.azurewebsites.net/">Web site</a> with REST API (including
        a client library project, please see <a href="https://roslyncodeconverter.azurewebsites.net/Home/About">About</a>
        on the Web site for more details).
    </p>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">VB to C# Converter (in Text Editor)</div>
                <div class="panel-body">
                    <img src="~/Images/CodeConverters/VBToCSharpConverter.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">C# to VB Converter (in Solution Explorer)</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CodeConverters/CSharpToVBConverter.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Code Converter Web Site <a href="https://roslyncodeconverter.azurewebsites.net/">https://roslyncodeconverter.azurewebsites.net/</a></h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CodeConverters/CodeConverterWebSite.png" />
                </div>
            </div>
        </div>
    </div>


</div>