@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "C# Refactorings";
    Page.Keywords = "refactoring,c#,vsix";
    Page.Description = "Highlights of some of the C# refactorings that ship in Refactoring Essentials.";
}

<div class="jumbotron">
    <div class="container">
        <h1>
            C# Refactorings
        </h1>
    </div>
</div>


<div class="container">

    <div class="alert alert-info">
        <p>This just highlights a few refactorings - please see the <a href="~/Features/All#collapseCSharpRefactorings">complete list</a></p>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Check Dictionary Key Value</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/CheckDictionaryKeyValueCodeRefactoring.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Compute Constant Value</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/ComputeConstantValueCodeRefactoring.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Convert Bitwise Flag Comparison To Has Flag</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/ConvertBitwiseFlagComparisonToHasFlagsCodeRefactoring.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Replace Direct Cast With Safe Cast</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/ReplaceDirectCastWithSafeCastCodeRefactoring.png" />
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Convert While To Do While Loop</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/ConvertWhileToDoWhileLoopCodeRefactoring.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Copy Comments From Base Code</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/CopyCommentsFromBaseCodeRefactoring.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Create ChangedEvent</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/CreateChangedEventCodeRefactoring.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Convert Switch To If</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/ConvertSwitchToIfCodeRefactoring.png"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Add null check</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/AddNullCheckCodeRefactoring.png"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create delegate</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/CreateDelegateAction.png"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Create overload without parameter</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/CreateOverloadWithoutParameterCodeRefactoring.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Put inside 'using'</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/PutInsideUsingAction.png" />
                </div>
            </div>
        </div>
    </div>

</div>