@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "VB Refactorings";
    Page.Keywords = "refactoring,vb,vsix";
    Page.Description = "Refactorings for Visual Basic (VB) highlighted";
}

<div class="jumbotron">

    <div class="container">
        <h1>
            VB Refactorings
        </h1>
    </div>

</div>


<div class="container">

    <div class="alert alert-info">
        <p>This just highlights a few refactorings - please see the <a href="~/Features/All#collapseVBRefactorings">complete list</a></p>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Convert Do...Loop While/Until to Do While/Until...Loop</div>
                <div class="panel-body">
                    <img src="~/Images/VBRefactorings/ConvertDoLoopWhileToDoWhileLoopCodeRefactoring.png"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Copy comments from base</div>
                <div class="panel-body">
                    <img src="~/Images/VBRefactorings/CopyCommentsFromBaseCodeRefactoring.png"/>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Check dictionary key value</div>
                <div class="panel-body">
                    <img src="~/Images/VBRefactorings/CheckDictionaryKeyValueCodeRefactoring.png"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Add another accessor</div>
                <div class="panel-body">
                    <img src="~/Images/VBRefactorings/AddAnotherAccessorCodeRefactoring.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Create changed event for property</div>
                <div class="panel-body">
                    <img src="~/Images/VBRefactorings/CreateChangedEventCodeRefactoring.png"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Add check for Nothing</div>
                <div class="panel-body">
                    <img src="~/Images/VBRefactorings/AddCheckForNothingCodeRefactoring.png"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Convert 'Select Case' to 'If'</div>
                <div class="panel-body">
                    <img src="~/Images/VBRefactorings/ConvertSelectCaseToIfCodeRefactoringProvider.png"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Create overload without parameter</div>
                <div class="panel-body">
                    <img src="~/Images/VBRefactorings/CreateOverloadWithoutParameterCodeRefactoring.png"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Invert logical expression</div>
                <div class="panel-body">
                    <img src="~/Images/VBRefactorings/InvertLogicalExpressionCodeRefactoring.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">

            </div>
        </div>
    </div>

</div>