@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "About";
    Page.Keywords = "about,contact,info,issue,report";
    Page.Description = "Get in touch with us - via Twitter, GitHub, StackOverflow and more. Let us know what you think!";
}

<div class="container">

    <h2>Contact</h2>

    <p>We have a core team of contributors that regularly monitors the following public places:</p>

    <ul>
        <li>GitHub <a href="@Constants.GithubUrl">go</a> (preferred)</li>
        <li>Twitter <a href="@Constants.TwitterUrl">go</a></li>
        <li>Forum <a href="http://community.sharpdevelop.net/forums/78.aspx">go</a></li>
    </ul>

    <p>
        Please use these means of communication to reach the team, or open a StackOverflow discussion and tweet us &#64;vsrefactoring.
    </p>


    <h2>Link to Us!</h2>
    <p>
        When you link to us and would like to use our logo to do so, you can find various sizes in the
        <a href="https://github.com/icsharpcode/vsrefactoringessentials.com/tree/master/Artwork">artwork folder</a> on GitHub.
    </p>

</div>