@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "About";
}

<div class="jumbotron">

    <div class="container">
        <h1>
            C# Refactorings
        </h1>
    </div>

</div>

<div class="container">

    <div class="row">
        <div class="col-lg-6">



            <div class="panel panel-default">
                <div class="panel-heading">Check Dictionary Key Value</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/CheckDictionaryKeyValueCodeRefactoring.png" />


                </div>
            </div>


        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Compute Constant Value</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/ComputeConstantValueCodeRefactoring.png" />
                </div>
            </div>



        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">



            <div class="panel panel-default">
                <div class="panel-heading">Convert Bitwise Flag Comparison To Has Flag</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/ConvertBitwiseFlagComparisonToHasFlagsCodeRefactoring.png" />


                </div>
            </div>


        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Convert Switch To If</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/ConvertSwitchToIfCodeRefactoring.png" />
                </div>
            </div>



        </div>

    </div>
    
    
    <div class="row">
        <div class="col-lg-6">



            <div class="panel panel-default">
                <div class="panel-heading">Convert While To Do While Loop</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/ConvertWhileToDoWhileLoopCodeRefactoring.png" />


                </div>
            </div>


        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Copy Comments From Base Code</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/CopyCommentsFromBaseCodeRefactoring.png" />
                </div>
            </div>



        </div>

    </div>
    
    <div class="row">
        <div class="col-lg-6">



            <div class="panel panel-default">
                <div class="panel-heading">Create ChangedEvent</div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/CreateChangedEventCodeRefactoring.png" class="col-md-12" />


                </div>
            </div>


        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Replace Direct Cast With Safe Cast</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Images/CSharpRefactorings/ReplaceDirectCastWithSafeCastCodeRefactoring.png" />
                </div>
            </div>



        </div>

    </div>
</div>