@{
    Layout = "~/Shared/_Layout.cshtml";

    Page.Title = "Refactoring Essentials for Visual Studio";
}


<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Refactoring Essentials</h1>
        <p>
            The premier free Visual Studio 2015 extension for C# and VB.NET refactorings, including code best practice analyzers to improve your projects.
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="@Constants.VsixUrl" role="button">Install &raquo;</a>
        </p>
        <div class="btn-social-network">
            <ul class="list-inline">
                <li>
                    <iframe src="/github-btn.html?user=icsharpcode&repo=RefactoringEssentials&type=watch&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width: 118px; height: 30px;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <iframe src="/github-btn.html?user=icsharpcode&repo=RefactoringEssentials&type=fork&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width: 118px; height: 30px;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vsrefactoringessentials.com" data-via="vsrefactoring">Tweet</a>
                    <script>
                        !function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');
                    </script>
                </li>
            </ul>
        </div>
    </div>
</div>







